attrs==18.2.0
autobahn==17.10.1
Automat==0.7.0
cloudpickle==0.6.1
constantly==15.1.0
-e git+git@github.com:golemfactory/raspa-poc.git@a1f23024dbaf9870d37fecb32677067f3e9d3305#egg=golemrpc
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
pkg-resources==0.0.0
six==1.11.0
Twisted==17.9.0
txaio==18.8.1
u-msgpack-python==2.5.0
zope.interface==4.6.0
